html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.text-12xl {
	font-size: 14rem;
	line-height: 1;
}

.text-shadow {
	text-shadow: 3px 2px 8px #000000;
}

.bg {
	background-image: url(https://source.unsplash.com/1920x1080/?technology,games);

	filter: blur(5px);

	height: 100%;
	width: 100%;
	position: absolute;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-translucent {
	width: 1364px;
	background-color: rgb(13, 9, 10, 0.8);
}
