html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.mix-blend-difference {
	mix-blend-mode: difference;
}

.bg {
	background-image: url(https://picsum.photos/1920/1080?blur);

	height: 100%;
	width: 100%;
	position: absolute;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blur {
	filter: blur(5px);
}

.bg-translucent {
	background-color: rgb(223, 211, 209, 0.3);
}
